/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif
}

/* /general */

/* utility */

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.25);
}

/* /utility */

/* components */

.container{
  width: 70%;
  margin: 0 auto;
}

.button{
  padding: 10px 15px;
  border-radius: 20px;
}

.black{
  background-color: #23272A;
  color: white;
}

.blue{
  background-color: #8EA1E1;
  color: white;
}

/* /components */

/* HEADER */

.header-top{
  background-color: #255EE9;
}

.header-top-content{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.header-top ul{
  display: flex;
  list-style-type: none;
  font-size: 0.8rem;
}

.header-top ul li{
  text-decoration: none;
  justify-content: space-around;
  padding: 0 10px;
}

.header-top ul li a{
  text-decoration: none;
  color: white;
}

.header-bottom{
  display: flex;
  text-align: center;
  padding: 20px 0;
  justify-content: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  min-height: 550px;
}

.header-bottom .box-1{
  width: 60%;
  color: white;
  margin: 20px 0 100px;
}

.header-bottom .titolo{
  padding: 20px 0;
}

.header-bottom .text{
  padding: 20px 200px;
}

.header-bottom .button-box{
  padding: 20px;
}

.button i{
  padding: 0 10px;
}

/* /HEADER */


/* MAIN */

/* SECTION-1 */

.section-1 .section-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.section-content .image-1{
  padding: 10px;
}

.section-1 .section-text{
  width: 40%;
  padding: 10px;
  font-size: 0.9rem;
}

.section-1 .section-text h2{
  padding: 20px 0;
  font-size: 2.5rem;
}

/* /SECTION-1 */


/* SECTION-2 */

.section-2{
  background-color: #F6F6F6;
}

.section-2 .section-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 70%;
}

.section-content .image-2{
  padding: 10px;
}

.section-2 .section-text{
  width: 40%;
  padding: 10px;
  font-size: 0.9rem;
}

.section-2 .section-text h2{
  padding: 20px 0;
  font-size: 2.5rem;
}

/* /SECTION-2 */

/* SECTION-3 */


.section-3 .section-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.section-content .image-3{
  padding: 10px;
}

.section-3 .section-text{
  flex-basis: 40%;
  padding: 10px;
  font-size: 0.9rem;
}

.section-3 .section-text h2{
  padding: 20px 0;
  font-size: 2.5rem;
}

/* /SECTION-3 */

/* SECTION-4 */

.section-4{
  background-color: #F6F6F6;
}

.section-4 .section-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  padding: 40px;
}

.section-4-text{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
}

.section-4 .section-content h2{
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
  font-size: 1.8rem;
}

.section-4 .section-content p, h3{
  padding: 20px 0;
}

.section-4 .section-content .section-4-bottom{
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 30px;
}

.section-4 button{
  margin-top: 10px;
  margin-bottom: 50px;
}
/* /SECTION-4 */


/* FOOTER */
footer{
  background-color: #23272A;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
}

.footer-title{
  width: 30%;
}

.footer-title h4{
  font-size: 2.2rem;
  color: #7289DA;
}

.footer-title .language{
  padding: 25px 0 5px;
  color: white;
}

.footer-title .language img{
  width: 25px;
}

.footer-title ul{
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
  font-size: 1.2rem;
}

.footer-title ul a{
  color: white;
}

.footer-list{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.footer-list .menu h4{
  color: #7289DA;
}


.footer-list ul{
  list-style-type: none;
  padding: 5px 0;
}

.footer-list ul li{
  padding: 5px 0;
}


.footer-list ul a{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}


.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 70px;
  border-top: 1px solid #7289DA;
}



/* /FOOTER */